.popup__button-close {
  background-image: url(../../../images/close-icon.svg);
  position: absolute;
  cursor: pointer;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  padding: 0;
  opacity: 100%;
  background-size: contain;
  border: none;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}

.popup__button-close:hover {
  transition: opacity .5s ease;
  opacity: 60%;
  background-color: transparent;
}  